In [1]:
import pandas as pd 
import numpy as np

In [2]:
file = 'static/data/income_evaluation.csv'
data = pd.read_csv(file)

In [3]:
education = data['education'].unique()
ed_num = data['education-num'].unique()
EducationLabels = dict(zip(education,ed_num))

In [14]:
working_class = data['workclass'].unique()
working_class
EmploymentLabels = {}
for workclass in working_class:
    result = np.where((working_class==workclass))
    EmploymentLabels[workclass] = result[0][0]
EmploymentLabels

{' State-gov': 0,
 ' Self-emp-not-inc': 1,
 ' Private': 2,
 ' Federal-gov': 3,
 ' Local-gov': 4,
 ' ?': 5,
 ' Self-emp-inc': 6,
 ' Without-pay': 7,
 ' Never-worked': 8}

In [13]:
marital_statuses = data['marital-status'].unique()
MaritalLabels = {}
for status in marital_statuses:
    result = np.where((marital_statuses==status))
    MaritalLabels[status] = result[0][0]
MaritalLabels

{' Never-married': 0,
 ' Married-civ-spouse': 1,
 ' Divorced': 2,
 ' Married-spouse-absent': 3,
 ' Separated': 4,
 ' Married-AF-spouse': 5,
 ' Widowed': 6}

In [12]:
occupations = data['occupation'].unique()
OccupationLabels = {}
for occupation in occupations:
    result = np.where((occupations==occupation))
    OccupationLabels[occupation] = result[0][0]
OccupationLabels

{' Adm-clerical': 0,
 ' Exec-managerial': 1,
 ' Handlers-cleaners': 2,
 ' Prof-specialty': 3,
 ' Other-service': 4,
 ' Sales': 5,
 ' Craft-repair': 6,
 ' Transport-moving': 7,
 ' Farming-fishing': 8,
 ' Machine-op-inspct': 9,
 ' Tech-support': 10,
 ' ?': 11,
 ' Protective-serv': 12,
 ' Armed-Forces': 13,
 ' Priv-house-serv': 14}

In [7]:
relationships = data['relationship'].unique()
RelationshipLabels = {}
for relationship in relationships:
    result = np.where((relationships==relationship))
    RelationshipLabels[relationship] = result[0][0]

In [11]:
races = data['race'].unique()
RaceLabels = {}
for race in races:
    result = np.where((races==race))
    RaceLabels[race] = result[0][0]
RaceLabels

{' White': 0,
 ' Black': 1,
 ' Asian-Pac-Islander': 2,
 ' Amer-Indian-Eskimo': 3,
 ' Other': 4}

In [15]:
sexes = data['sex'].unique()
SexLabels = {}
for sex in sexes:
    result = np.where((sexes==sex))
    SexLabels[sex] = result[0][0]
SexLabels

{' Male': 0, ' Female': 1}

In [17]:
countries = data['native-country'].unique()
CountryLabels = {}
for country in countries:
    result = np.where((countries==country))
    CountryLabels[country] = result[0][0]
CountryLabels

{' United-States': 0,
 ' Cuba': 1,
 ' Jamaica': 2,
 ' India': 3,
 ' ?': 4,
 ' Mexico': 5,
 ' South': 6,
 ' Puerto-Rico': 7,
 ' Honduras': 8,
 ' England': 9,
 ' Canada': 10,
 ' Germany': 11,
 ' Iran': 12,
 ' Philippines': 13,
 ' Italy': 14,
 ' Poland': 15,
 ' Columbia': 16,
 ' Cambodia': 17,
 ' Thailand': 18,
 ' Ecuador': 19,
 ' Laos': 20,
 ' Taiwan': 21,
 ' Haiti': 22,
 ' Portugal': 23,
 ' Dominican-Republic': 24,
 ' El-Salvador': 25,
 ' France': 26,
 ' Guatemala': 27,
 ' China': 28,
 ' Japan': 29,
 ' Yugoslavia': 30,
 ' Peru': 31,
 ' Outlying-US(Guam-USVI-etc)': 32,
 ' Scotland': 33,
 ' Trinadad&Tobago': 34,
 ' Greece': 35,
 ' Nicaragua': 36,
 ' Vietnam': 37,
 ' Hong': 38,
 ' Ireland': 39,
 ' Hungary': 40,
 ' Holand-Netherlands': 41}